@import url('https://fonts.googleapis.com/css?family=Nunito');

body {
  margin: 0;
  background: #191414;
  color: #fff;
  font-family: 'Nunito', sans-serif;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;  
}

div {
  margin-top: 100px;
}

a {
  background: #1DB954;
  font-size: 32px;
  padding: 1em;
  color: #fff;
  text-decoration: none;  
  border-radius: 2em;
  transition: 0.2s all;  
  box-shadow: 0px 2px 2px rgba(0,0,0,0.1);
  margin-top: 50px;    
}

a:hover {
  background: #21d25f;
}

a#red{
  background: #FF0000;
}
a#tamisepose{
  background: #cf940c;
}
a#yellow{
  background: #ffff00;
}
a#green{
  background: #008000;
}
a#cyan{
  background: #00FFFF;
}
a#purple{
  background: #551A8B;
}
a#blue{
  background: #0000FF;
}

#container {
  text-align: center;
}

.media > img {
  width: 20vh;
  border-radius: 10vh;    
  box-shadow: 0px 4px 4px rgba(0,0,0,0.2);        
}

.party {
  animation: party-anim 2s infinite ease-out;
}

@keyframes party-anim {
  0%   {background: hsl(0, 80%, 50%)}
  20%  {background: hsl(30, 100%, 60%);}
  40%  {background: hsl(120, 80%, 50%);}
  60%  {background: hsl(180, 80%, 50%);}
  70%  {background: hsl(220, 80%, 50%);}
  80%  {background: hsl(300, 80%, 50%);}
  100%  {background: hsl(360, 80%, 50%);}
}